// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-accent: mat-palette($mat-amber);

// Create your Sass color vars (will be available in all the project)
$accent: mat-color($app-accent);

:host {
  grid-column: 1 / end;
  grid-row: 2 / end;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% - 32px);
  height: calc(100% - 12px);

  padding-top: 12px;
  margin-left: 16px;
  padding-right: 16px;

  overflow: auto;
}

.title {
  width: 100%;
}

.search-bar {
  @extend .mat-elevation-6;

  position: relative;

  width: fit-content;

  margin-top: 6px;

  padding: 16px;
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 24px;

  background-color: white;

  input {
    border: none;
    outline: none;

    margin-right: 8px;
  }
  .add {
    position: absolute;
    right: -60px;
    top: 7px;
  }
}

.tasks-list {
  grid-column: 1 / end;
  grid-row: span 1;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  margin-top: 18px;

  .task {
    @extend .mat-elevation-6;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    position: relative;

    width: fit-content;
    max-width: 420px;
    min-width: 300px;

    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;

    margin: 8px;

    border-radius: 3px;

    background-color: white;

    cursor: pointer;
    .delete {
      position: absolute;
      right: 8px;
      top: 8px;
    }

    .text {
      height: fit-content;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 22px;
      .icon {
        margin-right: 16px;
      }
      .value {
        margin-top: 2px;
        margin-right: 8px;
      }
    }

    .divider {
      margin-top: 22px;
      margin-left: 0;
      margin-right: 0;
    }
    .case {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      width: 100%;

      margin-top: 8px;
      .name {
        margin-right: auto;
      }
      .client {
        margin-left: 12px;
        margin-right: 4px;
      }
    }
  }
}

// Helpers
@import "~@angular/material/theming";

.mat-elevation-4 {
  @include mat-elevation(4, grey, 0.4);
}
.mat-elevation-6 {
  @include mat-elevation(6, grey, 0.4);
}
.mat-card-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(3);

  &:hover {
    @include mat-elevation(8);
  }
}

// Ripple effect class
.ripple {
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%)
    center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
