<h2 class="title">Tasks</h2>
<div class="search-bar">
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <input type="text" [formControl]="filter.controls.search">
  <button mat-icon-button (click)="openFilter()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="add" (click)="createTask()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="tasks-list">
  <div mat-ripple class="task" *ngFor="let task of tasks" (click)="openTask(task)">
    <h3 class="title">{{task.title}}</h3>

    <span class="description">{{task.description}}</span>

    <mat-divider class="divider"></mat-divider>

    <div class="text" [ngStyle]="{'color': task.isAlarmActive?'blue':'red'}">
      <mat-icon class="icon">alarm</mat-icon><span class="value">{{task.deadline | date : 'dd/M/yyyy, h:mm a'}}</span>
    </div>


    <mat-divider class="divider"></mat-divider>
    <div class="case" *ngIf="task.cases">

      <h3 class="name">{{task.cases.name | slice:0:22}}{{task.cases.name.length > 22 ? '...':''}}</h3>

      <button mat-mini-fab color="primary" class="client">AB</button>
      <button mat-mini-fab color="warn">IB</button>

    </div>

  </div>
</div>
