<h2 class="title">Tasks</h2>
<div class="search-bar">
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <input type="text" [formControl]="search">
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="add" (click)="createTask()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="tasks-list">
  <div mat-ripple class="task" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" (click)="openTask()">
    <h3 class="title">task title here</h3>
    <button mat-icon-button class="delete" (mousedown)="$event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
    <span class="description">need to be there in time don't be late its too important , and bring things with
      you</span>
    <mat-slide-toggle (mousedown)="$event.stopPropagation()" labelPosition="before" class="alarm">
      <div class="text">
        <mat-icon class="icon">alarm</mat-icon><span class="value">22/10/1997 1:50 PM</span>
      </div>
    </mat-slide-toggle>
  </div>
</div>
