<swal #swalSuccess title="Task Updated" text="Your task updated successfully" icon="info" [showCancelButton]="true"
  [focusCancel]="true">
</swal>

<swal #swalDelete title="Task Deleted" text="Your task deleted successfully" icon="info" [showCancelButton]="true"
  [focusCancel]="true">
</swal>

<div class="background"></div>
<swal #swalError title="Error" text="Something wrong happens, please verify your inputs" icon="error"
  [showCancelButton]="true" [focusCancel]="true">
</swal>

<mat-form-field appearance="fill" style="width: 100%;">
  <mat-label>Title</mat-label>

  <input matInput placeholder="Title" [formControl]="title">

</mat-form-field>

<mat-form-field appearance="fill" style="width: 100%;">
  <mat-label>Alarm</mat-label>

  <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="deadline">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <ngx-mat-datetime-picker #picker [showSpinners]="true" [touchUi]="true" [hideTime]="false">
  </ngx-mat-datetime-picker>
</mat-form-field>

<mat-divider style="margin-bottom: 20px;"></mat-divider>

<mat-form-field class="description" appearance="fill" style="width: 100%;">
  <mat-label>Description</mat-label>
  <textarea matInput rows="6" placeholder="some description" [formControl]="description"></textarea>
</mat-form-field>

<div class="actions">
  <mat-slide-toggle class="alarm-toggle" labelPosition="before" [formControl]="isAlarmActive">Alarm
  </mat-slide-toggle>

  <button mat-button color="warn" (click)="delete()">Delete</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
