// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-accent: mat-palette($mat-amber);

// Create your Sass color vars (will be available in all the project)
$accent: mat-color($app-accent);

:host {
  display: grid;
  grid-template: 60px auto 82px / repeat(12, 1fr);
  gap: 12px 16px;

  grid-column: 1 / end;
  grid-row: 2 / end;

  width: calc(100% - 32px);
  height: calc(100% - 12px);

  justify-self: center;

  padding-top: 12px;
  margin-left: 16px;
  padding-right: 16px;

  overflow: auto;
}
.add-fab {
  position: fixed;
  bottom: 36px;
  right: 36px;
}

.title {
  grid-column: 1 / end;
  grid-row: 1 / 2;
}

.users-list {
  display: flex;
  flex-direction: column;

  grid-column: 5 / span 8;
  grid-row: 2 / 3;

  height: fit-content;

  margin-bottom: 16px;

  .contact-card {
    @extend .mat-elevation-4;

    width: 100%;
    height: 80px;

    margin-top: 16px;

    background-color: white;

    border-radius: 4px;
    cursor: pointer;
    .title {
      position: absolute;
      left: 18px;
      top: 12px;

      margin-top: 0;
      margin-bottom: 0;
    }
    .number {
      position: absolute;
      left: 18px;
      top: 34px;
    }
    .role {
      position: absolute;
      right: 18px;
      bottom: 8px;
      margin: 0;

      font-size: 16px;
    }

    .favorite {
      position: absolute;
      right: 10px;
      top: 6px;
      mat-icon {
        margin: 8px;
      }
    }
    @media (max-width: 600) {
    }
  }
}
.search-bar-container {
  @extend .mat-elevation-4;

  position: sticky;

  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-column: 1 / 5;
  grid-row: 2 / end;

  height: fit-content;

  padding: 12px;
  padding-left: 22px;
  padding-right: 22px;

  margin-top: 16px;

  background-color: white;

  .driver-type {
    margin-bottom: 24px;

    .mat-button-toggle-checked {
      background-color: $accent;
    }
  }
}

// Helpers
@import "~@angular/material/theming";

.mat-elevation-4 {
  @include mat-elevation(4, grey, 0.4);
}
.mat-elevation-6 {
  @include mat-elevation(6, grey, 0.4);
}
.mat-card-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(3);

  &:hover {
    @include mat-elevation(8);
  }
}

// Ripple effect class
.ripple {
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%)
    center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
