<h2 class="title">Contacts</h2>

<div class="search-bar-container" [formGroup]="filter">
  <h3>Search</h3>

  <mat-form-field appearance="outline">
    <mat-label>name</mat-label>
    <input matInput type="text" placeholder="taxi name..." formControlName="name">
    <mat-icon matSuffix>account_box</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" placeholder="email..." formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>phone number</mat-label>
    <input matInput type="text" placeholder="taxi phone number..." formControlName="phone">
    <mat-icon matSuffix>contacts</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

</div>

<div class="users-list">



  <div class="contact-card" matRipple *ngFor="let item of [1,2,3,4,5]" (click)="openContact(item)">
    <h3 class="title" [attr.data-contact-number]="'12345'">contact name</h3>

    <h3 class="phone">0550595660</h3>

    <button mat-icon-button class="favorite" (mousedown)="$event.stopPropagation()">
      <mat-icon>bookmarks</mat-icon>
    </button>

  </div>

</div>
