<h2 class="title">Fees</h2>

<div class="card">
  <mat-icon>attach_money</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalPrices}}.00 DA</span>
    <span class="description">Total income</span>
  </div>
</div>
<div class="card">
  <mat-icon>payments</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalPayed}}.00 DA</span>
    <span class="description">Total paid</span>
  </div>
</div>
<div class="card">
  <mat-icon>money_off</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalDetes}}.00 DA</span>
    <span class="description">Total debts</span>
  </div>
</div>

<div class="search-bar-container" [formGroup]="filter">
  <h3>Search</h3>

  <mat-form-field appearance="outline">
    <mat-label>Client name</mat-label>
    <input matInput type="text" placeholder="client name..." formControlName="client">
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>case title</mat-label>
    <input matInput type="text" placeholder="case title..." formControlName="case">
    <mat-icon matSuffix>explore</mat-icon>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Sort cases by</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let food of ['name','createdAt','price','number','location','state','totalDetes']"
        [value]="food">
        {{food}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Case price</h4>

  <mat-form-field appearance="outline" class="start-interval">
    <mat-label>MIN</mat-label>
    <input matInput placeholder="Minimum price" formControlName="minPrice">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>MAX</mat-label>
    <input matInput placeholder="Maximum price" formControlName="maxPrice">

  </mat-form-field>

</div>

<div class="requests-panel">

  <div class="case-card" matRipple *ngFor="let case of data" (click)="expandPayment(case)">

    <h2 class="title" [attr.data-case-number]="case.number">{{case.name}}</h2>

    <button mat-button class="client" (mousedown)="$event.stopPropagation()" (click)="gotoclient()">
      <mat-icon>face</mat-icon> <span>{{case.client}}</span>
    </button>

    <div class="content">

      <div class="info">
        <div class="title">Total price</div>
        <div class="amount">{{case.price}} DA</div>
      </div>
      <div class="separation"></div>
      <div class="info">
        <div class="title">Payed</div>
        <div class="amount">{{case.price - case.totalDetes}} DA</div>
      </div>
      <div class="separation"></div>
      <div class="info">
        <div class="title">Debt</div>
        <div class="amount">{{case.totalDetes}} DA</div>
      </div>
    </div>

  </div>

</div>
