<h2 class="title">Fees</h2>

<div class="card">
  <mat-icon>description</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalPrices}}.00 DA</span>
    <span class="description">Total income</span>
  </div>
</div>

<div class="card">
  <mat-icon>archive</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalDetes}}.00 DA</span>
    <span class="description">Total debts</span>
  </div>
</div>
<div class="card">
  <mat-icon>cancel_presentation</mat-icon>
  <div class="infos">
    <span class="title">{{this.totalPayed}}.00 DA</span>
    <span class="description">Total paid</span>
  </div>
</div>

<div class="search-bar-container" [formGroup]="filter">
  <h3>Search</h3>

  <mat-form-field appearance="outline">
    <mat-label>user name</mat-label>
    <input matInput type="text" placeholder="user name..." formControlName="name">
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>case title</mat-label>
    <input matInput type="text" placeholder="case title..." formControlName="case">
    <mat-icon matSuffix>explore</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>max price</mat-label>
    <input matInput type="text" placeholder="max..." formControlName="max">
    <mat-icon matSuffix>contacts</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>min price</mat-label>
    <input matInput type="text" placeholder="min..." formControlName="min">
    <mat-icon matSuffix>contacts</mat-icon>
  </mat-form-field>

</div>

<div class="requests-panel">

  <div class="case-card" matRipple *ngFor="let case of data" (click)="expandPayment(case)">

    <h2 class="title" [attr.data-case-number]="case.number">{{case.name}}</h2>

    <button mat-button class="client" (mousedown)="$event.stopPropagation()" (click)="gotoclient()">
      <mat-icon>face</mat-icon> <span>{{case.client}}</span>
    </button>

    <div class="content">

      <div class="info">
        <div class="title">Total price</div>
        <div class="amount">{{case.price}} DA</div>
      </div>
      <div class="separation"></div>
      <div class="info">
        <div class="title">Payed</div>
        <div class="amount">{{case.price - case.totalDetes}} DA</div>
      </div>
      <div class="separation"></div>
      <div class="info">
        <div class="title">Debt</div>
        <div class="amount">{{case.totalDetes}} DA</div>
      </div>
    </div>

  </div>

</div>
