:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-height: 80vh;
  max-width: fit-content;
  overflow-x: hidden;

  padding-left: 16px;
  padding-right: 16px;
  .icon {
    font-size: 96px;
    margin-top: 8px;
    margin-bottom: 18px;
    width: auto;
    height: auto;
  }

  mat-form-field {
    max-width: 100%;
    width: 320px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
}
