<h2 class="title">Requests</h2>

<div class="card">
  <mat-icon>description</mat-icon>
  <div class="infos">
    <span class="title">12</span>
    <span class="description">Active work</span>
  </div>
</div>

<div class="card">
  <mat-icon>archive</mat-icon>
  <div class="infos">
    <span class="title">90</span>
    <span class="description">Completed job</span>
  </div>
</div>
<div class="card">
  <mat-icon>cancel_presentation</mat-icon>
  <div class="infos">
    <span class="title">90</span>
    <span class="description">Canceled jobs</span>
  </div>
</div>

<div class="search-bar-container" [formGroup]="filter">
  <h3>Search</h3>

  <mat-form-field appearance="outline">
    <mat-label>name</mat-label>
    <input matInput type="text" placeholder="taxi name..." formControlName="name">
    <mat-icon matSuffix>account_box</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>region</mat-label>
    <input matInput type="text" placeholder="taxi region..." formControlName="region">
    <mat-icon matSuffix>explore</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>phone number</mat-label>
    <input matInput type="text" placeholder="taxi phone number..." formControlName="phone">
    <mat-icon matSuffix>contacts</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

</div>

<div class="requests-panel">

  <div class="case-card" matRipple *ngFor="let item of [1,2,3,4,5]" (click)="openCase()">
    <h2 class="title" [attr.data-case-number]="'12345'">Case name</h2>

    <button mat-button class="client" (mousedown)="$event.stopPropagation()" (click)="gotoclient()">
      <mat-icon>face</mat-icon> <span>Issam benmahbous</span>
    </button>

    <div class="attribute">
      <mat-icon>location_on</mat-icon>
      <span>location</span>
    </div>
    <div class="attribute">
      <mat-icon>schedule</mat-icon>
      <span>next alarm</span>
    </div>
    <div class="separation"></div>
    <div class="attribute">
      <mat-icon>monetization_on</mat-icon>
      <span>amount</span>
    </div>
    <div class="attribute">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>tasks number</span>
    </div>

    <button mat-button class="type-tag" (mousedown)="$event.stopPropagation()">
      <mat-icon>label</mat-icon> <span>civil</span>
    </button>

    <button mat-icon-button class="favorite" (mousedown)="$event.stopPropagation()">
      <mat-icon>bookmarks</mat-icon>
    </button>

  </div>

</div>
