<h2 class="title">CASES</h2>

<div class="card">
  <mat-icon>description</mat-icon>
  <div class="infos">
    <span class="title">{{OBJECT_VALUE.uiState.stats.totalCases}}</span>
    <span class="description">Total cases</span>
  </div>
</div>

<div class="card">
  <mat-icon>assignment_late</mat-icon>
  <div class="infos">
    <span class="title">{{OBJECT_VALUE.uiState.stats.totalActive}}</span>
    <span class="description">Active cases</span>
  </div>
</div>

<div class="card">
  <mat-icon>assignment_turned_in</mat-icon>
  <div class="infos">
    <span class="title">{{OBJECT_VALUE.uiState.stats.totalArchived}}</span>
    <span class="description">Archived cases</span>
  </div>
</div>

<div class="search-bar-container" [formGroup]="filter">
  <h3>Search</h3>

  <mat-form-field appearance="outline">
    <mat-label>name</mat-label>
    <input matInput type="text" placeholder="taxi name..." formControlName="name">
    <mat-icon matSuffix>account_box</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>region</mat-label>
    <input matInput type="text" placeholder="taxi region..." formControlName="region">
    <mat-icon matSuffix>explore</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>phone number</mat-label>
    <input matInput type="text" placeholder="taxi phone number..." formControlName="phone">
    <mat-icon matSuffix>contacts</mat-icon>
    <mat-hint style="display: none;">Hint</mat-hint>
  </mat-form-field>

</div>

<div class="requests-panel">

  <button mat-fab color="primary" class="add-fab" [routerLink]="[ '/home/archive/add']">
    <mat-icon>add</mat-icon>
  </button>

  <div class="case-card" matRipple *ngFor="let case of OBJECT_VALUE.data" (click)="openCase(case)">
    <h3 class="title" [attr.data-case-number]="case.number">{{case.name}}</h3>

    <div class="separation"></div>


    <div class="attribute">
      <button mat-button class="client" (mousedown)="$event.stopPropagation()"
        (click)="gotoClient();$event.stopPropagation();">
        <mat-icon>security</mat-icon> <span>{{case.opponent}}</span>
      </button>
    </div>
    <div class="attribute">
      <button mat-button class="client" (mousedown)="$event.stopPropagation()"
        (click)="gotoClient();$event.stopPropagation();">
        <mat-icon>gavel</mat-icon> <span>{{case.client}}</span>
      </button>
    </div>

    <div class="attribute">
      <mat-icon>location_on</mat-icon>
      <span>{{case.location}}</span>
    </div>

    <div class="attribute">
      <mat-icon>schedule</mat-icon>
      <span>{{case.state}}</span>
    </div>

    <div class="attribute">
      <mat-icon>monetization_on</mat-icon>
      <span>{{case.price}} DA</span>
    </div>
    <div class="attribute">
      <mat-icon>assignment_turned_in</mat-icon>
      <span>{{case.tasks?case.tasks.length:0}}</span>
    </div>

    <div class="tags">
      <button mat-button class="type-tag" *ngFor="let tag of case.tags" (click)="$event.stopPropagation()"
        (mousedown)="$event.stopPropagation()">
        <span>{{tag}}</span>
      </button>
    </div>

    <button mat-icon-button class="favorite" (mousedown)="$event.stopPropagation()"
      (click)="bookCase(case);$event.stopPropagation()">
      <mat-icon [ngStyle]="{'color': case.isSaved?'#3f51b5':'black'}">bookmarks</mat-icon>
    </button>

  </div>

</div>

<swal #swalSuccess title="Updated" text="Updated successfully" icon="info" [showCancelButton]="true"
  [focusCancel]="true">
</swal>
<swal #swalError title="Error" text="Something wrong happens, please verify your inputs" icon="error"
  [showCancelButton]="true" [focusCancel]="true">
</swal>
<swal #swalConfirmation title="Confirmation" text="this action is irreversable , are you sure ?" icon="error"
  [showCancelButton]="true" [focusCancel]="true">
</swal>
