<h2 class="title">Dashboard</h2>


<div class="card-1">
  <mat-icon>description</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalCases}}</span>
    <span class="description">Total cases</span>
  </div>
</div>

<div class="card-2">
  <mat-icon>assignment_late</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalActive}}</span>
    <span class="description">Active cases</span>
  </div>
</div>

<div class="card-3">
  <mat-icon>assignment_turned_in</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalArchived}}</span>
    <span class="description">Archived cases</span>
  </div>
</div>

<div class="calender-controls">
  <mat-button-toggle-group class="" (valueChange)="setView($event)" value="month">
    <mat-button-toggle value="month">Month</mat-button-toggle>
    <mat-button-toggle value="week">Week</mat-button-toggle>
    <mat-button-toggle value="day">Day</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="navigation">
    <button mat-raised-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <mat-icon>arrow_left</mat-icon>
    </button>

    <button mat-raised-button mwlCalendarToday [(viewDate)]="viewDate" color="primary">Today</button>

    <button mat-raised-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>

<div class="calender">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="calendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

</div>


<div class="card-4">
  <mat-icon>attach_money</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalPrices}}.00 DA</span>
    <span class="description">Total income</span>
  </div>
</div>

<div class="card-5">
  <mat-icon>payments</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalPayed}}.00 DA</span>
    <span class="description">Total paid</span>
  </div>
</div>

<div class="card-6">
  <mat-icon>money_off</mat-icon>
  <div class="infos">
    <span class="title">{{stats.totalDetes}}.00 DA</span>
    <span class="description">Total debts</span>
  </div>
</div>


<div class="chart">
  <canvas id="chartContainer" style="height: 370px; width: 100%;"></canvas>
</div>

<div class="task-list">
  <h2 class="title">Up coming tasks</h2>

  <div mat-ripple class="task" *ngFor="let task of tasks | slice : 0 : 10" (click)="openTask(task)">
    <h3 class="title">{{task.title}}</h3>
    <span class="description">{{task.description}}</span>
  </div>
</div>

<div class="cases-list">

  <h2 class="title">Booked cases</h2>

  <div class="case-card" matRipple *ngFor="let case of cases" [routerLink]="['/home/archive/'+case.id]">
    <h2 class="title" [attr.data-case-number]="case.number">{{case.name}}</h2>

    <button mat-button class="client" (mousedown)="$event.stopPropagation()"
      (click)="gotoClient(case);$event.stopPropagation()">
      <mat-icon>face</mat-icon> <span>{{case.client}}</span>
    </button>


  </div>

</div>
