// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-accent: mat-palette($mat-amber);

// Create your Sass color vars (will be available in all the project)
$accent: mat-color($app-accent);

:host {
  display: grid;
  grid-template:
    repeat(4, auto)
    / repeat(12, 1fr);
  gap: 24px 16px;

  grid-column: 1 / end;
  grid-row: 2 / end;

  width: calc(100% - 32px);
  height: calc(100% - 12px);

  justify-self: center;

  padding-top: 12px;
  margin-left: 16px;
  padding-right: 16px;

  overflow: auto;
}

.header {
  @extend .mat-elevation-4;

  grid-column: 1 / end;
  grid-row: span 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  position: relative;

  height: fit-content;

  padding: 32px;
  padding-top: 16px;
  padding-bottom: 16px;

  background-color: white;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    .title {
      margin-top: 12px;
    }
    .case-number {
    }
  }
  .description {
    flex-shrink: 0;
    max-width: 600px;
    width: 100%;
  }

  .client {
    width: fit-content;

    margin-top: 42px;

    font-weight: bolder;
    border-radius: 24px;

    background-color: rgb(238, 238, 238);
    mat-icon {
      margin-right: 8px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: -28px;
    right: 24px;
    .action {
      margin-left: 4px;
    }
    .booked {
      background-color: white;
    }
    .edit {
      background-color: white;
      color: black;
    }
    .delete {
      background-color: white;
      color: red;
    }
  }
}

.case-infos {
  @extend .mat-elevation-4;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;

  padding: 12px;
  padding-left: 8px;
  padding-right: 8px;

  margin-top: 18px;

  grid-column: 1 / 6;
  grid-row: span 1;

  background-color: white;

  overflow: hidden;
  .state {
    position: absolute;
    right: -59px;
    top: 4px;
    transform: rotate(45deg);

    width: 162px;
    height: 60px;
  }

  mat-form-field {
    width: 95%;
    input {
      color: black !important;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 28px;
    .tag {
      width: fit-content;

      margin-top: 8px;
      margin-right: 4px;

      font-weight: bolder;
      border-radius: 24px;

      background-color: rgb(238, 238, 238);
      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

.attachments {
  @extend .mat-elevation-4;

  grid-column: 1 / 7;
  grid-row: span 1;

  position: relative;

  display: flex;
  flex-direction: column;

  height: fit-content;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  margin-bottom: 36px;

  background-color: white;

  .addBtn {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .list {
    max-height: 500px;
    overflow: auto;

    cursor: pointer;
    .item {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;

      padding-bottom: 4px;
      padding-top: 4px;

      margin-bottom: 12px;

      ::ng-deep .mat-list-item-content {
        justify-content: space-between;
        width: 100%;
        .name {
          margin-right: auto;
        }
      }
    }
  }
}

.payments {
  @extend .mat-elevation-4;

  grid-column: 7 / end;
  grid-row: span 1;

  position: relative;

  display: flex;
  flex-direction: column;

  height: fit-content;

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  background-color: white;

  .payments-list {
    .mat-expansion-panel-header-title {
      flex-basis: 0;
      justify-content: flex-start;
      align-items: center;

      font-weight: 500;
    }

    .mat-expansion-panel-header-description {
      flex-basis: 0;
      justify-content: space-between;
      align-items: center;
    }

    .mat-form-field {
      width: 100%;

      margin-top: 12px;

      input {
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;

      .delete {
        margin-left: auto;
        margin-right: 6px;
      }
    }
  }

  .addBtn {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.tasks {
  @extend .mat-elevation-4;

  grid-column: 6 / end;
  grid-row: 2 / 3;

  position: relative;

  display: flex;
  flex-direction: column;

  height: fit-content;
  min-height: calc(100% - 28px);

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  margin-top: 18px;

  background-color: white;

  .tasks-list {
    max-height: 500px;
    overflow: auto;

    cursor: pointer;
    .task {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;

      padding-bottom: 6px;
      padding-top: 6px;

      margin-bottom: 12px;

      ::ng-deep .mat-list-item-content {
        justify-content: flex-start;
        width: 100%;
        .title {
          font-weight: bold;
          margin-right: auto;
        }
        .deadline {
          display: flex;
          align-items: center;
          margin-right: 48px;
          mat-icon {
            margin-right: 4px;
          }
        }
        .markAsDone {
          background-color: #2e6da4;
        }
      }
    }
  }

  .addBtn {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.timeline-container {
  grid-column: 1 / 13;
  grid-row: span 1;
}

// loader
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: calc(100vh - 120px);
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: blue;
  }
}

// Helpers
@import "~@angular/material/theming";

.mat-elevation-4 {
  @include mat-elevation(4, grey, 0.4);
}
.mat-elevation-6 {
  @include mat-elevation(6, grey, 0.4);
}
.mat-card-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(3);

  &:hover {
    @include mat-elevation(8);
  }
}

// Ripple effect class
.ripple {
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%)
    center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}

/* Timeline styling */
.page-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  width: 100%;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 43%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

  background-color: white;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #d9534f !important;
}

.timeline-badge.danger {
  background-color: #f0ad4e !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 900px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
