<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #drawer mode="over" position="start">
    <div class="left-drawer-container">

      <div class="account-main-container">

        <img src="/assets/profil.png" alt="">
        <h1>{{uiService.user?.fullName}}</h1>
      </div>

      <button mat-button [routerLink]="[ '/home/']">
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </button>
      <button mat-button [routerLink]="[ '/home/archive']">
        <mat-icon>all_inbox</mat-icon><span>Archive</span>
      </button>
      <button mat-button [routerLink]="[ '/home/contacts']">
        <mat-icon>perm_contact_calendar</mat-icon><span>Contacts</span>
      </button>
      <button mat-button [routerLink]="[ '/home/tasks']">
        <mat-icon>assignment</mat-icon><span>Tasks</span>
      </button>
      <button mat-button [routerLink]="[ '/home/fees']">
        <mat-icon>payment</mat-icon><span>Fees</span>
      </button>
      <button mat-button [routerLink]="[ '/home/HR']">
        <mat-icon>supervisor_account</mat-icon><span>Roles</span>
      </button>
      <button mat-button [routerLink]="[ '/home/logs']">
        <mat-icon>line_weight</mat-icon><span>Logs</span>
      </button>
      <div class="space" style="margin: auto;"></div>
      <button mat-button style="margin-bottom: 24px;">
        <mat-icon>settings</mat-icon><span>Settings</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="container">

    <mat-toolbar color="primary">

      <div class="left-content">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button> Cipher</div>
      <button mat-button>
        <mat-icon aria-hidden="false" style="font-size: 21px;">person</mat-icon> {{uiService.user?.fullName}}
      </button>
    </mat-toolbar>

    <router-outlet style="display: none;"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
