<h2 class="title">Employees</h2>
<div class="search-bar">
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <input type="text" [formControl]="search">
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="add" (click)="createUser()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="users-list">
  <div mat-ripple class="user" *ngFor="let user of users" (click)="openUser(user);">
    <h3 class="title">{{user.fullName}}</h3>

    <div class="content" [ngClass]="{'expand': user?.expand}" (mousedown)="$event.stopPropagation();">

      <div class="roles" (mousedown)="$event.stopPropagation();" (click)="$event.stopPropagation();">
        <h4>Roles</h4>
        <mat-slide-toggle labelPosition="before" class="toggle" *ngFor="let role of uiService.ROLES; let i=index"
          [ngModel]="isActive(role,user)" (change)="changeRoles(role,user,$event)">
          {{uiService.ROLES[i].en}}
        </mat-slide-toggle>
      </div>

      <div class="infos" (mousedown)="$event.stopPropagation();" (click)="$event.stopPropagation();">
        <h4>Info</h4>
        <mat-form-field appearance="fill" class="input">
          <mat-label>full name</mat-label>
          <input matInput placeholder="" [(ngModel)]="user.fullName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" [(ngModel)]="user.email" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="" [(ngModel)]="user.phone">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="####" [(ngModel)]="user.password">
          <mat-hint>you can only change password</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="accent" class="save" (click)="saveInfo(user)">Save</button>
      </div>

    </div>

    <button mat-button class="actions" (mousedown)="$event.stopPropagation()">
      <span class="label">actions</span>
      <span class="value">160</span>
    </button>
    <button mat-icon-button class="delete" color="warn" (mousedown)="$event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
