// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-accent: mat-palette($mat-amber);

// Create your Sass color vars (will be available in all the project)
$accent: mat-color($app-accent);

:host {
  grid-column: 1 / end;
  grid-row: 2 / end;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% - 32px);
  height: calc(100% - 12px);

  padding-top: 12px;
  margin-left: 16px;
  padding-right: 16px;

  overflow: auto;
}

.title {
  width: 100%;
}

.search-bar {
  @extend .mat-elevation-6;

  position: relative;

  width: fit-content;

  margin-top: 6px;

  padding: 16px;
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 24px;

  background-color: white;

  input {
    border: none;
    outline: none;

    margin-right: 8px;
  }
  .add {
    position: absolute;
    right: -60px;
    top: 7px;
  }
}

.users-list {
  grid-column: 1 / end;
  grid-row: span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: fit-content;

  margin-top: 18px;

  .user {
    @extend .mat-elevation-6;

    position: relative;

    width: fit-content;
    min-height: 90px;
    height: fit-content;

    max-width: 800px;
    width: calc(100% - 24px);
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;

    margin: 8px;
    margin-left: 0;
    margin-right: 0;

    border-radius: 3px;

    background-color: white;

    cursor: pointer;

    .delete {
      position: absolute;
      right: 0px;
      top: 4px;
    }
    .save {
      position: absolute;
      right: 8px;
      bottom: 8px;

      display: none;
      &.expand {
        display: unset;
      }
    }
    .actions {
      position: absolute;

      bottom: 4px;
      left: 0;

      border-radius: 24px;

      .label {
        margin-right: 4px;
        color: #bab2b2;
      }
      .value {
        font-weight: 800;
      }
    }
  }

  .user > .content {
    display: none;

    align-items: flex-start;
    justify-content: space-around;

    flex-wrap: wrap;

    width: 100%;

    height: fit-content;

    padding-bottom: 38px;

    &.expand {
      display: flex;
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      width: fit-content;

      .input {
        min-width: 260px;
      }
    }
    .roles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      width: fit-content;

      .toggle {
        position: relative;

        margin-bottom: 32px;
        &:after {
          content: "";

          position: absolute;
          bottom: -16px;
          left: 0;

          height: 1px;
          width: 100%;

          border-radius: 1px;

          background-color: rgb(184, 184, 184);
        }

        ::ng-deep .mat-slide-toggle-bar {
          margin-left: 150px;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

// Helpers
@import "~@angular/material/theming";

.mat-elevation-4 {
  @include mat-elevation(4, grey, 0.4);
}
.mat-elevation-6 {
  @include mat-elevation(6, grey, 0.4);
}
.mat-card-elevation {
  @include mat-elevation-transition;
  @include mat-elevation(3);

  &:hover {
    @include mat-elevation(8);
  }
}

// Ripple effect class
.ripple {
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%)
    center/15000%;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
